@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Outfit:wght@100..900&family=DynaPuff:wght@400..700&display=swap");
@import "tailwindcss";

:root {
  --ff-primary: "DynaPuff";
  --ff-secondary: "Outfit";
  --ff-code: "Fira Code";

  --sky: rgb(164, 227, 255);
  --grass: rgb(37, 179, 92);
  --pink: rgb(255, 158, 227);

  font-family: var(--ff-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme inline {
  --color-sky: var(--sky);
  --color-grass: var(--grass);
  --color-pink: var(--pink);
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  body {
    @apply bg-sky m-0;
  }
}

body {
  margin: 0;
}

code {
  font-family: var(--ff-code);
}
